extends layout

block content
  div(class="grid")
    div(class="grid-item")
      table(id="table1" class="widget-zebra tablesorter-blue")
        thead
          tr
            each val in result.list[0]
              th=val
        tbody
          -for(var i = 1; i < result.list.length; i++) {
            tr
              -for(var j = 0; j < result.list[i].length; j++) {
                td=result.list[i][j]
              -}
          -}
      script.
        $(function () {
          $("#table1").tablesorter();
        });
  pre=result.debug
  script.
    $(document).ready(function () {
      $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: 1100
      });
    });