extends layout

block content
  each result in results
    div(class="container")
      table
        tbody(class="table-hover")
          tr
            each val in result.header
              td
                a(class="octicon arrow-up")=val
          each vals in result.outputs
            tr
              each val in vals
                td=val


