extends layout

block content
  div(class="container")
    table
      tbody(class="table-hover")
        tr
          each val in header
            td
              a(class="octicon arrow-up")=val
        each vals in outputs
          tr
            each val in vals
              td=val


