doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name='robots', content="noindex,follow")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/theme.blue.min.css')
    script(type='text/javascript', src='/javascripts/jquery-3.4.1.min.js')
    script(type='text/javascript', src='/javascripts/jquery.tablesorter.min.js')
    script(type='text/javascript', src='/javascripts/masonry.pkgd.min.js')
  body
    block content
