extends layout

block head
  link(rel='stylesheet', href='/stylesheets/excel.css')
  link(rel='stylesheet', href='/stylesheets/theme.blue.min.css')
  script(type='text/javascript', src='/javascripts/jquery-3.4.1.min.js')
  script(type='text/javascript', src='/javascripts/jquery.tablesorter.min.js')
  script(type='text/javascript', src='/javascripts/masonry.pkgd.min.js')

block content
  div(class="grid")
    - for(var i = 0; i < results.length; i++) {
    -   var result = results[i];
    -   var talbeId = "myTable" + i;
    div(class="grid-item")
      table(id=talbeId class="widget-zebra tablesorter-blue")
        thead
          tr
            each val in result.header
              th=val
        tbody
          each vals in result.outputs
            tr
              each val in vals
                td(class=val.class)=val.text
      script.
        $(function () {
          $("##{talbeId}").tablesorter();
        });
    - }
  script.
    $(document).ready(function() {
      $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: 470
      });
    });